<!doctype html>
<html>
    <head><title>Maven</title></head>
    <body>
        <h2>Javadocs</h2>
        <ul>
            {{#each state.publishedJavadocs}}
                <li>
                    <p><strong>{{repository}}</strong> {{tag}}</p>
                    <ul>
                        {{#each paths}}
                            <li><a href="javadoc/{{repository}}/{{tag}}/{{this}}">{{this}}</a></li>
                        {{/each}}
                    </ul>
                </li>
            {{/each}}
        </ul>
    </body>
</html>
